/* Reset some default styles */
body, h1, ul {
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 20px 30px;
    transition: color 0.25s;
    margin-top: -18px;
}

/* Style for the navigation list */
ul {
    list-style-type: none;
    display: flex;
}

/* Style for buttons */
button {
    background-color: #8a6240;
    color: #fff;
    border: #8a6240;
    border-radius: 5px;
    padding: 13px 12px;
    margin-left: -10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #fffefe;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
}

/* Style for links */
button a {
    font-family: sans-serif;
    color: #ffffff;
    letter-spacing: 1.5px;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 5px 5px 8px rgb(59, 1, 1),
        0 0 25px rgb(255, 255, 255);
}

/* Responsive Design */
@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        align-items: flex-start;
    }

    ul {
        flex-direction: column;
        margin-top: 15px;
    }

    button {
        margin-left: 0;
        margin-bottom: 5px;
    }
}

h1, {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-container {
    background: #987554;
    padding: 30px;
}

body {
    font-family: Arial, sans-serif;
    position: relative;
    color: #ffffff;
    margin: 0px;
    background-color: #554023;
}

.image {
    padding: 50px;
}

.img1 {
    float: right;
    top: 50px;
}

#home h1 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 9.0px;
    margin-left: 15px;
    position: absolute;
    top: 35px;
    text-shadow: 5px 5px 8px rgb(0, 0, 0), 0 0 25px rgb(1, 0, 0);
}

#LOGO {
    position: absolute;
    top: 1px;
    padding: 5px;
    border-radius: 100px;
    background: transparent;
}

#LOGO img {
    width: 90px;
    border-radius: 100%;
}

div {
    font-family: Arial, sans-serif;
    color: black;
    text-align: justify;
    font-size: 15px;
}

.stuff {
    font-size: 15px;
    padding: 10px;
    margin: 40px;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.stuff h1 {
    color: black;
    margin-top: 0px;
}

.stuff ul {
    list-style-type: none;
    font-size: 15px;
}

hr {
    border: 2px solid black;
}
